USE [master]
GO
/****** Object:  Database [cafe]    Script Date: 14/06/2025 3:03:48 CH ******/
CREATE DATABASE [cafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cafe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\cafe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cafe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\cafe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cafe]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 14/06/2025 3:03:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[id] [int] NOT NULL,
	[username] [varchar](200) NULL,
	[password] [varchar](100) NULL,
	[s_ques] [varchar](500) NULL,
	[ans] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 14/06/2025 3:03:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[cid] [int] NULL,
	[pid] [int] NULL,
	[pName] [varchar](45) NULL,
	[qty] [int] NULL,
	[price] [float] NULL,
	[total] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 14/06/2025 3:03:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[pid] [int] IDENTITY(1,1) NOT NULL,
	[cName] [varchar](200) NULL,
	[proid] [varchar](100) NULL,
	[pName] [varchar](200) NULL,
	[total] [float] NULL,
	[pdate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 14/06/2025 3:03:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NULL,
	[price] [float] NULL,
	[image] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[admin] ADD  DEFAULT (NULL) FOR [username]
GO
ALTER TABLE [dbo].[admin] ADD  DEFAULT (NULL) FOR [password]
GO
ALTER TABLE [dbo].[admin] ADD  DEFAULT (NULL) FOR [s_ques]
GO
ALTER TABLE [dbo].[admin] ADD  DEFAULT (NULL) FOR [ans]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT (NULL) FOR [cid]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT (NULL) FOR [pid]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT (NULL) FOR [pName]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT (NULL) FOR [qty]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT (NULL) FOR [price]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT (NULL) FOR [total]
GO
ALTER TABLE [dbo].[payment] ADD  DEFAULT (NULL) FOR [cName]
GO
ALTER TABLE [dbo].[payment] ADD  DEFAULT (NULL) FOR [proid]
GO
ALTER TABLE [dbo].[payment] ADD  DEFAULT (NULL) FOR [pName]
GO
ALTER TABLE [dbo].[payment] ADD  DEFAULT (NULL) FOR [total]
GO
ALTER TABLE [dbo].[payment] ADD  DEFAULT (NULL) FOR [pdate]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT (NULL) FOR [name]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT (NULL) FOR [price]
GO
USE [master]
GO
